ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DATABASE=musebooks
POSTGRES_SSLMODE=disable
POSTGRES_TIMEZONE=Asia/Singapore

SYSTEM_AES_KEY=change-me
SCRAPER_INGEST_TOKEN=change-me
API_ORIGIN=http://localhost:2001
MUSEBOOKS_API_URL=http://localhost:2001
MUSEBOOKS_WORKER_ID=python-worker-01
